<!DOCTYPE HTML>
<html>

<head>
    <title>
        title
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/jquery.min.js"></script>
    <style>
        .bor {
                border: 1px solid #eee;
                margin-bottom: 10px;
            }
        </style>
</head>

<body>
    <h1>
        title
    </h1>
    <p>Welcome to title
    </p>
    <div class="bor info">
    </div>
    <div class="bor">
        <input type="text" class="name" placeholder="请输入姓名">
        <input type="text" class="phone" placeholder="请输入电话">
        <input type="text" class="motto" placeholder="请输入格言">
        <button class="update-info">提交</button>
    </div>
    <div class="post">
        <input type="text" class="title" placeholder="请输入标题">
        <input type="text" class="content" placeholder="请输入标题">
        <button class="ok">提交</button>
    </div>
    <div class="post">
        <input type="text" class="user" placeholder="user">
        <input type="text" class="pwd" placeholder="pwd">
        <button class="login">login</button>
    </div>
    <div>图片上传：<input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" /></div>
    <img id="preview" style="height:130px;width:117px;border-width:0px;"/>
    <div class="test"></div>
</body>
    <script>
        $.post('/api/login', {user: 'test', pwd: 'test'}, function (params) {
            localStorage.setItem('userInfo', JSON.stringify(params.result));
            $.get('/api/searchArticle', {token: params.result.token, user: params.result.user, id: params.result.id}, function (data) {
                console.log('----userinfo:', data);
            });
        });
        // 图片上传
        $('.fileupload').change(function(event) {
            if ($('.fileupload').val().length) {

                var $file = $(this);
                var fileObj = $file[0];
    
                var windowURL = window.URL || window.webkitURL;
                var dataURL;
                var $img = $("img");
    
                if (fileObj && fileObj.files && fileObj.files[0]) {
                    dataURL = windowURL.createObjectURL(fileObj.files[0]);
                    $img.attr('src', dataURL);
                } else {
                    dataURL = $file.val();
                    var imgObj = document.getElementById("preview");
                    imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
                }
          

                var fileName = $('.fileupload').val();
                console.log(fileName);                
                var extension = fileName.substring(fileName.lastIndexOf('.'), fileName.length).toLowerCase();
                if (extension == ".jpg" || extension == ".png") {
                    var data = new FormData();
                    data.append('fulAvatar', $('#fileToUpload')[0].files[0]);
                    console.log(data);
                    
                    $.ajax({
                        url: '/api/uploadImg',
                        type: 'POST',
                        data: data,
                        cache: false,
                        contentType: false, //不可缺参数
                        processData: false, //不可缺参数
                        success: function(data) {
                            console.log('-------upload img:', data);
                            if (data.code == 200) {
                                $('img').attr('src', data.result);
                            }
                        },
                        error: function() {
                            console.log('error');
                        }
                    });
                }
            }
        });
    </script>
</html>